*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto",sans-serif;
}


body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 10px;
	background: #380882;
}

.wrapper{
	width: 720px;
	background: #006eff9b;
	border-radius: 5px;
	animation: fadeIn 1s;
}

.wrapper header{
	font-size: 22px;
	font-weight: 600;
	padding: 20px 30px;
	border-bottom: 1px solid #000000;
}

.wrapper form{
	margin: 35px 30px;

}

form .dbl-field{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.dbl-field .field{
	height: 50px;
	position: relative;
	width: calc(100% /2 -13px);
}

form .field input,
form .msg textarea{
	height: 100%;
	width: 100%;
	outline: none;
	padding: 0 18px 0 48px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #bfbfbf;
}

form .field input::placeholder,
form .msg textarea::placeholder{
	color: #bfbfbf;
}

form .field input:focus,
form .msg textarea:focus{
 border: 2px solid #611b65;
}


.wrapper form i {
	position: absolute;
	left: 18px;
	top: 50%;
	color: #bfbfbf;
	transform: translateY(-50%);
	font-size: 17px;
	pointer-events: none;

}

form .field input:focus ~ i{
	color: #611b65;
}


form .msg{
	position: relative;

}

form .msg i{
	top: 13px;
	font-size: 20px;
}

form .msg textarea{
	display:flex;
	min-width: 100%;
	max-width: 100%;
	min-height: 120px;
	max-height: 300px;
	padding: 15px 20 0 48px;
}

form .button-area{
	margin: 25px 0;
	display: flex;
	align-items: center;
}

.button-area button{
	padding: 13px 25px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	background: #4e0552;
	color: #fff;
}


.button-area span{
	color: #d40cde;
	margin-left: 30px;
	display: none;
}

@media(max-width: 600px){
	.wrapper header{
		text-align: center;
	}

	form .dbl-field{
		margin-bottom: 0px;
		flex-direction: column;
	}

	.dbl-field .field{
		width:100%;
		margin-bottom: 20px;
	}

	form .msg textarea{
		resize: none;
	}


	.button-area button{
		width: 100%;
	}

	form .button-area{
		flex-direction: column;
	}

	.button-area span{
		text-align: center;
		margin: 20px 0;
	}
}


@keyframes fadeIn{
	0%{
		transform: translateY(-150%);
		opacity: 0;
	}
	100%{
		transform: translateY(0%);
		opacity: 1;
	}
}